.social-login
    a(href=routes.gitHub).social-login--github
        span
            i.fab.fa-github.fa-lg
        |Continue with Github
    a(href=routes.kakao).social-login--kakao
        span
            i.fas.fa-comment.fa-lg
        |Continue with KakaoTalk