.form-container {
  margin-top: 7vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 95vh;
  input {
    width: 20vw;
    height: 5vh;
  }
  form {
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    width: 30%;
    height: 65%;
    .form__content {
      display: flex;
      align-items: center;
      width: 65%;
      margin-bottom: 2vh;
      box-shadow: $melon 0px 2px 4px;
      border-radius: 15px;
      i {
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0.6;
        width: 3vw;
        height: 5vh;
        border-right: 1px $melon solid;
      }
      input {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        font-size: 20px;
      }
      transition: 0.2s box-shadow linear;
      &:hover {
        box-shadow: $salamander 0px 3px 5px;
      }
    }
  }
  .form__submit {
    background-color: $melon;
    color: white;
    font-size: 20px;
    letter-spacing: 2.2px;
    font-weight: 600;
    margin-top: 20px;
    border-radius: 3px;
    box-shadow: rgba(233, 197, 40, 0.4) 0px 0px 0px 3px;
    transition: 0.2s all linear;
    &:hover {
      color: $ginger;
      box-shadow: rgba(233, 197, 40, 0.8) 0px 0px 0px 4px;
    }
  }
}

.form-container__link.form-container__link--delete {
  margin-top: 3vh;
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color: $salamander;
  box-shadow: rgba(214, 3, 3, 0.3) 0px 0px 0px 3px;
  transition: 0.2s all linear;
  &:hover {
    color: $amber;
    box-shadow: rgba(233, 197, 40, 0.8) 0px 0px 0px 4px;
  }
}
