extends layouts/main

block content
    .form-container
        form(action=`/users${routes.editProfile}`, method="post", enctype="multipart/form-data")
            .thumbnail
                    img.thumbnail__img(src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png")
            .fileUpload
                label(for="file") Avatar
                input(type="file", id="file", name="avatar", accept="image/*")
            .form__content
                i.fas.fa-id-card.fa-lg
                input(type="text", placeholder="Name", name="name", value=loggedUser.name)
            .form__content
                i.fas.fa-envelope-square.fa-lg
                input(type="email", placeholder="Email", name="email", value=loggedUser.email)
            input.form__submit(type="submit", value="Update Profile")