extends layouts/main

block content
    .form-container
        .settings
            form(action=routes.editVideo(video.id), method="post")
                h3 Title
                .setting__title
                    input(type="text", placeholder="Title", name="title", value=video.title)
                h3 Description
                .setting__description
                    textarea(name="description", palceholder="Description")=video.description
                input.form__submit(type="submit", value="Update Video")
                a.form-container__link.form-container__link--delete(href=routes.deleteVideo(video.id)) Delete Video