extends layouts/main

block content
    .form-container
        form(action=routes.login, method="post")
            .form__content
                i.fas.fa-envelope-square.fa-lg
                input(type="email", name="email", placeholder="Email", required=true)
            .form__content
                i.fas.fa-unlock-alt.fa-lg
                input(type="password", name="password", placeholder="Password", required=true)
            input.form__submit(type="submit", value="Log In")
            include partials/socialLogin