extends layouts/main

block content
    .form-container
        .video-settings
            form.upload-form(action=routes.videos+routes.upload, method="post", enctype="multipart/form-data")
                .upload-form__preview#jsThumbnailContainer
                    video#jsVideoPreview
                .upload-form__fileUpload
                    label(for="jsUploadfile") Video File
                    input(type="file", id="jsUploadfile", name="videoFile", required=true, accept="video/*")
                    button(type="button")#jsRecordBtn Start Recording
                .video-settings__title
                    input(type="text", placeholder="Title", name="title", required=true)
                .video-settings__description
                    textarea(name="description", placeholder="Description", required=true)
                input.form__submit(type="submit", value="Upload Video")