mixin videoPlayer(video ={})
  .video#jsVideo
    video.video__screen(src=`/${video.src}`)#jsVideoPlayer
    .videoPlayer
        .videoPlayer__duration
            span
                span#jsCurrentTime 00:00 
                |/
                span#jsTotalTime 00:00
        ul.videoPlayer__control
            li#jsMediaBackward.fa-lg
                i.fas.fa-chevron-left
            li#jsPlayButton
                i.fas.fa-play.fa-lg
            li#jsMediaForward.fa-lg
                i.fas.fa-chevron-right
        .videoPlayer__progressbar#jsProgress
            .progressbar#jsProgressBar
                i.fas.fa-dot-circle.fa-lg
            .progressbar-fill#jsProgressFill
        .videoPlayer__volume
            input#jsVolume(type="range", min="0", max="1", step="0.1", value="0.5")
            span#jsVolumeBtn
                i.fas.fa-volume-up.fa-lg
        .videoPlayer__size
            span#jsFullScreen
                i.fas.fa-expand.fa-2x