/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

input,
button {
  text-decoration: none;
  border: none; }
  input:focus,
  button:focus {
    outline: none; }

video:focus,
textarea:focus {
  outline: none; }

.header {
  width: 100%;
  height: 7vh;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f79862;
  font-family: "Roboto", sans-serif;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  z-index: 1; }
  .header__column:first-child {
    display: felx;
    justify-content: center;
    text-align: center;
    color: white; }
    .header__column:first-child i {
      color: white;
      padding: 6px; }
    .header__column:first-child span {
      color: white;
      font-size: 25px;
      font-weight: 700; }
    .header__column:first-child:hover i,
    .header__column:first-child:hover span {
      color: #be5504; }
  .header__column {
    width: 30%; }
    .header__column form {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      width: 20vw;
      border-top-right-radius: 12px;
      border-bottom-right-radius: 12px;
      padding: 4px;
      position: relative; }
      .header__column form button {
        top: 0;
        left: 0;
        position: absolute;
        height: 100%;
        border: none;
        border-right: 2px #f79862 solid;
        transition: 0.2s background-color linear;
        background-color: white;
        outline: none; }
        .header__column form button:hover {
          background-color: #be5504; }
        .header__column form button i {
          color: #f79862;
          font-size: 17px; }
    .header__column input {
      width: 90%;
      border: none;
      font-size: 19px;
      font-weight: 600;
      color: #f79862;
      margin-left: 8%; }
      .header__column input::-moz-placeholder {
        padding-left: 5px;
        color: #f79862; }
      .header__column input:-ms-input-placeholder {
        padding-left: 5px;
        color: #f79862; }
      .header__column input::placeholder {
        padding-left: 5px;
        color: #f79862; }
    .header__column ul {
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 1.8px;
      display: flex; }
      .header__column ul li {
        margin-right: 20px; }
        .header__column ul li a {
          color: white;
          text-transform: uppercase; }
          .header__column ul li a:hover {
            border-bottom: 1px white solid; }

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #444444;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 5vh;
  color: white; }
  .footer .footer__icon {
    margin-right: 7px; }
  .footer .footer__text {
    font-size: 17px;
    font-weight: 600; }

.form-container {
  margin-top: 7vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 95vh; }
  .form-container input {
    width: 20vw;
    height: 5vh; }
  .form-container form {
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    width: 30%;
    height: 70%; }
    .form-container form .form__content {
      display: flex;
      align-items: center;
      width: 65%;
      margin-bottom: 2vh;
      box-shadow: #f79862 0px 2px 4px;
      border-radius: 15px;
      transition: 0.2s box-shadow linear; }
      .form-container form .form__content i {
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0.6;
        width: 3vw;
        height: 5vh;
        border-right: 1px #f79862 solid; }
      .form-container form .form__content input {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        font-size: 20px; }
      .form-container form .form__content:hover {
        box-shadow: #f05e23 0px 3px 5px; }
  .form-container .form__submit {
    background-color: #f79862;
    color: white;
    font-size: 20px;
    letter-spacing: 2.2px;
    font-weight: 600;
    margin: 10px 0px;
    border-radius: 3px;
    box-shadow: rgba(233, 197, 40, 0.4) 0px 0px 0px 3px;
    transition: 0.2s all linear; }
    .form-container .form__submit:hover {
      color: #be5504;
      box-shadow: rgba(233, 197, 40, 0.8) 0px 0px 0px 4px; }

.form-container__link.form-container__link--delete {
  margin-top: 3vh;
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color: #f05e23;
  box-shadow: rgba(214, 3, 3, 0.3) 0px 0px 0px 3px;
  transition: 0.2s all linear; }
  .form-container__link.form-container__link--delete:hover {
    color: #ffbf00;
    box-shadow: rgba(233, 197, 40, 0.8) 0px 0px 0px 4px; }

.social-login {
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer; }
  .social-login a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3vh;
    width: 70%;
    height: 5vh;
    border: none;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2.2px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 15px 33px, rgba(0, 0, 0, 0.22) 0px 10px 11px;
    transition: 0.1s opacity linear; }
    .social-login a i {
      margin-right: 5px; }
    .social-login a:hover {
      opacity: 0.7; }
  .social-login .social-login--github {
    background-color: black;
    color: white; }
  .social-login .social-login--kakao {
    background-color: #f9e000;
    font-weight: 700;
    color: #444444; }

.video-settings {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .video-settings__title {
    width: 21vw;
    border: 2px #ffbf00 solid;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    margin-bottom: 2vh; }
    .video-settings__title input {
      border-radius: 7px;
      font-size: 20px;
      padding: 5px; }
      .video-settings__title input::-moz-placeholder {
        font-size: 20px; }
      .video-settings__title input:-ms-input-placeholder {
        font-size: 20px; }
      .video-settings__title input::placeholder {
        font-size: 20px; }
  .video-settings__description {
    width: 22vw;
    border: 2px #ffbf00 solid;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px; }
    .video-settings__description textarea {
      border-radius: 7px;
      border: none;
      width: 100%;
      font-size: 20px;
      min-height: 15vh;
      padding: 10px;
      resize: none; }
      .video-settings__description textarea::-moz-placeholder {
        font-size: 20px;
        font-weight: 600; }
      .video-settings__description textarea:-ms-input-placeholder {
        font-size: 20px;
        font-weight: 600; }
      .video-settings__description textarea::placeholder {
        font-size: 20px;
        font-weight: 600; }
  .video-settings h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 1.5vh;
    color: #be5504;
    letter-spacing: 1.5px; }

.upload-form__preview {
  width: 80%;
  height: 50%;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .upload-form__preview video {
    width: 100%;
    border-radius: 15px;
    background-color: rgba(247, 152, 98, 0.3); }
  .upload-form__preview img {
    width: 50%;
    border-radius: 15px; }

.upload-form__fileUpload {
  width: 15.5vw;
  height: 5vh;
  margin-bottom: 1vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .upload-form__fileUpload label,
  .upload-form__fileUpload button {
    margin: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 80%;
    background-color: #ffbf00;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: 0.2s all linear; }
    .upload-form__fileUpload label:hover,
    .upload-form__fileUpload button:hover {
      opacity: 0.7;
      background-color: #be5504;
      color: #ffbf00; }
  .upload-form__fileUpload input {
    display: none; }

.video {
  width: 50vw;
  position: relative;
  overflow: hidden; }
  .video__screen {
    display: block;
    width: 100%; }
  .video:hover .videoPlayer {
    opacity: 1;
    transform: translate(0, 0);
    z-index: 0; }

.videoPlayer {
  width: 100%;
  height: 7vh;
  position: absolute;
  bottom: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 2.5fr 0.5fr 1fr;
  align-items: center;
  text-align: center;
  transform: translate(0, 100%);
  z-index: -1;
  opacity: 0;
  color: white;
  transition: 0.2s all ease-in-out;
  background-color: rgba(247, 152, 98, 0.7); }
  .videoPlayer__duration {
    font-size: 20px;
    opacity: 0.8; }
  .videoPlayer__control {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 20px; }
    .videoPlayer__control li:first-child {
      margin-right: 4px; }
  .videoPlayer__progressbar {
    width: 95%;
    height: 2vh;
    border-radius: 6px;
    margin-right: 10px;
    border: 1px #ffbf00 solid;
    background-color: white;
    display: flex;
    z-index: 0;
    cursor: pointer; }
    .videoPlayer__progressbar .progressbar {
      width: 0%;
      border-radius: 4px;
      background-color: #ffbf00;
      display: flex;
      align-items: center;
      position: relative;
      pointer-events: none;
      z-index: 1; }
      .videoPlayer__progressbar .progressbar i {
        pointer-events: none;
        right: -12px;
        font-size: 0px;
        position: absolute;
        border-radius: 50%;
        color: #f05e23;
        background-color: #ffbf00;
        transition: 0.04s all ease-in-out; }
    .videoPlayer__progressbar .progressbar-fill {
      width: 0px;
      height: 1.8vh;
      border-radius: 6px;
      position: absolute;
      z-index: -1;
      pointer-events: none; }
    .videoPlayer__progressbar:hover i {
      font-size: 23px;
      cursor: pointer; }
    .videoPlayer__progressbar:hover .progressbar-fill {
      background-color: rgba(255, 191, 0, 0.5); }
  .videoPlayer__volume {
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    .videoPlayer__volume i {
      width: 10px;
      height: 10px;
      text-align: center; }
    .videoPlayer__volume input {
      display: none; }
    .videoPlayer__volume:hover input {
      display: flex;
      width: 70%; }
  .videoPlayer span {
    height: 100%; }
  .videoPlayer i {
    cursor: pointer; }
    .videoPlayer i:hover {
      color: #0080ff; }

.videos {
  width: 100%;
  margin-top: 7vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  min-height: 100vh; }

.videosBlocks {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0px; }

.videoBlock {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  width: 26vw;
  height: 40vh;
  display: flex;
  justify-content: center;
  background-color: #ffe5b4;
  padding-top: 20px;
  border-radius: 10px; }
  .videoBlock .videoBlock__thumbnail {
    width: 25vw;
    border-radius: 15px; }
  .videoBlock h4 {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    text-overflow: ellipsis;
    margin-top: 1vh;
    width: 100%;
    color: #be5504; }
  .videoBlock h6 {
    text-align: center;
    font-size: 20px;
    margin: 1vh 0;
    color: #444444; }

.video-detail {
  min-height: 100vh;
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /*
   video-detail__info
  */
  /*
    video-detail__comment-container
  */ }
  .video-detail__info {
    margin-top: 3vh;
    width: 50%;
    display: flex;
    border-bottom: 1px solid #ffbf00;
    flex-direction: column; }
  .video-detail__title {
    font-size: 35px;
    line-height: 29px;
    font-weight: 600;
    width: 100%;
    text-overflow: ellipsis;
    color: #be5504;
    margin-bottom: 15px; }
  .video-detail__views {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .video-detail__views i {
      display: flex;
      color: #be5504;
      opacity: 0.6; }
      .video-detail__views i span {
        margin-left: 7px;
        font-size: 16px;
        font-weight: 600; }
  .video-detail__edit {
    font-size: 15px;
    font-weight: 600;
    color: white;
    align-self: flex-end;
    background-color: #ffbf00;
    padding: 3px;
    border-radius: 5px; }
    .video-detail__edit:hover {
      background-color: orange;
      box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 1px, rgba(6, 24, 44, 0.65) 0px 3px 5px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset; }
  .video-detail__author {
    margin-top: 1vh; }
    .video-detail__author a {
      font-size: 24px;
      margin-left: 5px;
      color: #ffbf00;
      font-weight: 600; }
      .video-detail__author a:hover {
        color: #f05e23; }
  .video-detail__description {
    width: 100%;
    margin: 4vh 0;
    font-size: 18px; }
  .video-detail__comment-container {
    margin-top: 3vh;
    width: 50%; }
  .video-detail__comment {
    color: #444444;
    font-size: 20px;
    font-weight: 600; }
    .video-detail__comment span {
      color: #f79862; }
  .video-detail__add-comment {
    margin: 15px 0; }
    .video-detail__add-comment input {
      border: 2px rgba(240, 94, 35, 0.5) solid;
      box-shadow: rgba(240, 94, 35, 0.2) 0px 3px 3px 0px;
      border-radius: 10px;
      width: 100%;
      height: 5vh;
      cursor: text;
      font-size: 20px;
      margin-bottom: 25px; }
      .video-detail__add-comment input::-moz-placeholder {
        padding-left: 10px; }
      .video-detail__add-comment input:-ms-input-placeholder {
        padding-left: 10px; }
      .video-detail__add-comment input::placeholder {
        padding-left: 10px; }
      .video-detail__add-comment input:focus {
        border: 2px rgba(240, 94, 35, 0.7) solid; }
  .video-detail__comments-list {
    font-size: 19px;
    color: #be5504;
    font-weight: 600;
    width: 100%; }
    .video-detail__comments-list li {
      margin-bottom: 30px;
      padding-bottom: 20px;
      border-bottom: 1px #f79862 solid;
      width: 90%;
      display: flex;
      align-items: center; }
      .video-detail__comments-list li span {
        margin-left: 15px;
        word-break: break-all; }

.search {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .search__header {
    margin-top: 9vh;
    margin-bottom: 5vh;
    font-size: 35px;
    font-weight: 700;
    color: #be5504;
    width: 50%; }
  .search__videos {
    min-height: 90vh; }
    .search__videos .notFound {
      margin-top: 10vh; }
      .search__videos .notFound img {
        border: 5px #ffbf00 solid;
        border-radius: 140px; }
      .search__videos .notFound h5 {
        margin-top: 3vh;
        text-align: center;
        font-size: 50px;
        font-weight: 600;
        color: #be5504; }

.user-profile {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .user-profile .user-profile__content {
    width: 20%;
    height: 65%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px; }
    .user-profile .user-profile__content img {
      width: 30vh;
      margin-bottom: 25px;
      border-radius: 150px; }
    .user-profile .user-profile__content .profile__username {
      font-size: 25px;
      margin-bottom: 50px;
      font-weight: 600; }
    .user-profile .user-profile__content .user-profile__btns {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .user-profile .user-profile__content .user-profile__btns a:first-child {
        margin-bottom: 20px; }
      .user-profile .user-profile__content .user-profile__btns button {
        background-color: #ffbf00;
        width: 35vh;
        height: 5vh;
        border-radius: 30px;
        font-size: 20px;
        font-weight: 600;
        box-shadow: rgba(233, 197, 40, 0.4) 0px 0px 0px 3px; }
        .user-profile .user-profile__content .user-profile__btns button:hover {
          opacity: 0.6;
          background-color: #f79862;
          box-shadow: rgba(233, 197, 40, 0.8) 0px 0px 0px 4px; }

* {
  box-sizing: border-box; }

html,
body {
  height: 100%; }

body {
  background-color: #fffdd0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }

main {
  width: 100%;
  min-height: 100vh; }

button,
label,
input {
  cursor: pointer; }

