// orange https://graf1x.com/shades-of-orange-color-palette/
$melon: #f79862;
$ginger: #be5504;
$amber: #ffbf00;
$salamander: #f05e23;

// yellow https://graf1x.com/shades-of-yellow-color-palette-chart/
$cream: #fffdd0;
$peach: #ffe5b4;

// blue https://graf1x.com/shades-of-blue-color-palette/
$egyptian: #1034a6;
$azure: #0080ff;

// etc
$black: #444444;
